<section class="ui segment">
    <div class="ui five small statistics">
      {{!-- Name and Surname displayed --}}
      <div class="ui statistic">
            <div class="value">
                <i class="user icon"></i>
            </div>
            <div class="label">
            {{firstName}} {{lastName}}
            </div>
        </div>
      {{!-- Ideal body weight displayed --}}
        <div class="ui statistic">
            <div class="value">
              {{#if isIdealBodyWeight}}
                <i class="green dashboard icon"></i>
              {{else}}
               <i class="red dashboard icon"></i>
              {{/if}}
            </div>
            <div class="label">
                Ideal Weight Indicator
            </div>
        </div>
      {{!-- BMI value displayed --}}
        <div class="ui statistic">
            <div class="value">  
              <i class="heartbeat icon"></i>{{bmi}}
            </div>
            <div class="label">
                  BMI
            </div>
        </div>
      {{!-- BMI Category displayed --}}
        <div class="ui statistic">
            <div class="value">
                <i class="doctor icon"></i>
            </div>
            <div class="label">
            {{bmiCategory}}
            </div>
        </div>
      {{!-- Goal displayed --}}
        <div class="ui statistic">
            <div class="value">
                <i class="tasks icon"></i>
            </div>
            <div class="label">
            GOAL {{currentgoal.status}}
            </div>
        </div>
    </div>
</section>